.page {
    flex: 1;
    text-align: center;
    margin-top: 2rem;
    h6{
      font-weight: bold;
    }
    th{
      background-color: #5eb1bf;
      color: white;
      button{
        scale: unset;
      }
    }
    td{
      text-align: center;
    }
  }